/* ==========================================================================
   定义整站的样式
 ====== ====================================================================== */

* {
  flex: none;
  //max-height: 100000rem; /* font boosting */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  @extend .content-3;
  color: $font;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
}

body {
  min-width: $body-min-width;
  background: $background-4;
  overflow-x: hidden;

  &.mobile {
    min-width: auto;
  }
}

p, .p, .tip, .text, .tips {
  text-transform: initial;

  &:first-letter {
    text-transform: uppercase;
  }
}

h1, h2, h3, h4, h5, h6, .capitalize {
  @extend .content-3;
  text-transform: capitalize;
}

.tab, label, .label, th, .th, .no-result, .placeholder {
  text-transform: capitalize;
}

@media screen and (max-width: $body-min-width) {
  body {
    overflow-x: auto;
  }

  .content {
    margin-left: calc((#{$body-min-width} - #{$content-width}) / 2) !important;
  }

  .content:before {
    width: $body-min-width !important;
    margin-left: (-$body-min-width/2) !important;
  }
}

/* ==========================================================================
   定义a的样式
 ====== ====================================================================== */

a, .a, .btn, button {
  cursor: pointer;
  opacity: .8;
  font-size: inherit;
  color: $font;
  text-transform: capitalize;

  &:hover {
    opacity: 1 !important;
    text-decoration: none !important;
  }
}

.value {
  text-transform: none;
}

/* ==========================================================================
   定义button的样式
 ====== ====================================================================== */

button, .btn {
  height: .3rem;
  line-height: .3rem;
  padding: 0 .05rem;
  border-radius: .03rem;
  border: 1px solid $border;
  background: #fff;
  text-align: center;

  &[disabled], &.disabled {
    border-color: $disabled;
    //background: $disabled;
    color: $black-light;
    cursor: default;
  }
}

@each $name, $color in (gray, $black-light), (green, $green), (red, $red), (blue, $blue), (main, $main-color) {
  .btn-#{$name} {
    @include btn($color);
    opacity: .8;
    background: transparent;

    &:hover {
      opacity: 1;
    }
  }

  .btn-#{$name}-fill {
    @include btn-fill($color);
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }
}

/* ==========================================================================
   定义表单元素的样式
 ====== ====================================================================== */

input, textarea, select, button {
  padding: 0 .1rem;
  //height: .48rem;
  font-size: inherit;
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  border: 1px solid transparent;

  &::placeholder {
    color: $font-light;
    text-transform: capitalize;
  }

  //&:focus {
  //  border-color: $main-color;
  //}
}

/* ==========================================================================
   定义表格元素的样式
 ====== ====================================================================== */

table {
  width: 100%;
  border-collapse: collapse;
  //border: 1px solid $border;
  border-color: $border !important;

  thead, tbody {
    border-color: inherit;
    color: inherit;

    tr {
      height: .42rem;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: inherit;
      color: inherit;
      white-space: nowrap;
      th {
        //font-weight: 600;
        color: inherit;
        user-select: none;
      }

      td, th {
        padding: 0 .1rem;
        //border-right: 1px solid $border;
        @extend .content-7;
        text-align: left;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
      }
    }
  }

  tbody {
    tr:hover {
      background: rgba(#000, .1) !important;
    }
  }
}

/* ==========================================================================
   定义一些容器的样式，规范布局
 ====== ====================================================================== */

.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container-inner {
  width: 100%;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  /* overflow: hidden; */
}

.content-card {
  width: 100%;
  background: #fff;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 0;
  width: $content-width;
  margin: 0 0 0 calc((100vw - #{$content-width}) / 2);

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;
    margin: 0 0 0 -50vw;
    background: transparent;
    pointer-events: none;
  }
}

/* ==========================================================================
   定义通用类的样式
 ====== ====================================================================== */

.transparent {
  opacity: 0;
}

.transition {
  transition: all .5s cubic-bezier(.4, 0, .2, 1);
}

/* ==========================================================================
   定义通用的字体颜色类
 ====== ====================================================================== */

@each $name, $color in (blue:$blue, light-blue:$blue-light, red:$red, green:$green, main: $main-color, dark: $font-dark) {
  .font-#{$name} {
    color: $color !important;
  }
}

/* ==========================================================================
   定义css图标
 ====== ====================================================================== */
.icon-fold {
  display: block;
  width: 0;
  border: .05rem solid;
  border-left-color: $black-lighter;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.icon-unfold {
  display: block;
  position: relative;
  top: .025rem;
  left: -.05rem;
  width: 0;
  border: .05rem solid;
  border-left-color: transparent !important;
  border-top-color: $black-lighter;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.icon-back {
  display: block;
  width: .14rem;
  height: .14rem;
  border-left: .01rem solid #fff;
  border-top: .01rem solid #fff;
  transform: rotate(-45deg);
}

.icon-go {
  display: block;
  width: .14rem;
  height: .14rem;
  border-left: .01rem solid #fff;
  border-top: .01rem solid #fff;
  transform: rotate(135deg);
}

.select-deco-img {
  margin: 0 .1rem 0 0;
}

// 特定样式
.table-value {
  color: $font-darker;
}

.table-sector {
  height: .2rem;
  line-height: calc(.2rem - 2px);
  padding: 0 .04rem;
  margin: 0 0 0 .06rem;
  border: 1px solid $main-color;
  border-radius: .04rem;
  color: $main-color;
  @extend .content-2;
  text-align: center;
}

.vue-scroll-window {
  &:hover {

    .vue-scroll-track {
      opacity: 1;
      transition: all .3s cubic-bezier(.4, 0, .2, 1);
    }
  }

  .vue-scroll-track {
    opacity: 0;
  }
}

.hide {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.bold {
  font-weight: bold !important;
}

img {
  vertical-align: middle;
}
