/* ==========================================================================
   定义整站中间部分的样式变量
 ====== ====================================================================== */

/*背景色*/
$body-white: #F0F0F5;
$body-white-c2: #fff;
$background-c1: #fff;
$background-c2: #2D2D3D;
$background-c3: #fff;
$background-c4: #717199;
$background-c5: #F7F7FC;
$background-c6: #2a2a38;
$background-c7: #f5f5fa;

/*字体色*/
$font-black: #333;
$font-white-c1: #fff;
$font-black-c1: #1E1E1E;
$font-black-c2: #2D2D3D;
$font-black-c3: #1D1D1F;
$font-black-c4: #5C5C66;
$font-black-c5: #A1A1B3;
$font-blue-c1: #487CDA;
$font-gray-c1: #CFCFE6;
$font-gray-c2: #afafc3;
$font-gray-c3: #9797A8;
$font-gray-c4: #B8B8CC;
$font-gray-c5: #999;
$font-gray-c6: #ccc;

/*其他颜色*/
$color-gray-1: #d1d1de;
$color-gray-2: #ddd;
$color-gray-3: #F7F7FC;
$color-gray-4: #FAFAFC;
$color-gray-5: #F0F0F5;
$color-gray-6: #CCCCCC;
$color-gray-7: #CDCDCD;
$color-gray-8: #F2F2F2;
$color-black-1: #333;
$color-colours-1: #E85865;
$color-colours-2: #47CCA6;
$color-colours-3: #FF9500;
$color-colours-4: #3870E0;
$color-colours-5: #C4D4F5;
