.datepicker {
  $black: $font-black-c1;
  $black-light: $font-light-1;
  $black-lighter: $font-light;
  $main: $color-colours-4;
  $main-hover: $color-colours-4;
  $shadow: rgba(0, 0, 0, .1);
  $base-size: 1px;
  $picker-width: 300;
  $picker-bg: #fff;
  $picker-item-line-height: 30;
  $picker-item-selected-before-width: 40;
  $picker-item-selected-before-height: 24;

  @mixin pseudo($offset: -5, $bg:$border, $lr: left, $bt: top) {
    content: '';
    position: absolute;
    #{$lr}: calc(40 * #{$base-size});
    #{$bt}: calc(#{$offset} * #{$base-size});
    width: 0;
    height: 0;
    border: calc(6 * #{$base-size}) solid transparent;

    @if ($bt==top) {
      border-top: 0;
      border-bottom-color: $bg;
    } @else {
      border-bottom: 0;
      border-top-color: $bg;
    }
  }

  @mixin pickerItem($lr:left, $bt: bottom) {
    #{$lr}: 0;
    #{$bt}: calc(100% + 10 * #{$base-size});

    &:before {
      @include pseudo(-6, rgba($border, .5), $lr, $bt)
    }

    &:after {
      @include pseudo(-5, $picker-bg, $lr, $bt)
    }
  }

  position: relative;

  * {
    box-sizing: border-box;
    font-size: calc(14 * #{$base-size});
    color: $black;
    outline: none !important;
  }

  .vue-input {
    width: 100%;
    height: 100%;
    padding: 0 calc(10 * #{$base-size});
    border-radius: calc(3 * #{$base-size});
    background: $background-c1;
    color: $font-black-c1;
    border: 1px solid $color-gray-7;

    &::placeholder {
      color: $font-gray-c6;
    }
  }

  .picker {
    display: block;
    position: absolute;
    z-index: 1000;
    width: calc(#{$picker-width} * #{$base-size});
    padding: calc(10 * #{$base-size});
    //border: 1px solid rgba($border, .5);
    border-radius: calc(3 * #{$base-size});
    background: $picker-bg;
    box-shadow: 0 1px size(1) $shadow;

    &.left-bottom {
      @include pickerItem(left, top)
    }

    &.left-top {
      @include pickerItem(left, bottom)
    }

    &.right-bottom {
      @include pickerItem(right, top)
    }

    &.right-top {
      @include pickerItem(right, bottom)
    }

    .picker-head {
      padding: 0 0 calc(10 * #{$base-size});
      text-align: center;

      .picker-h {

        span {
          font-size: calc(16 * #{$base-size});
        }

        .year, .month, .date {
          cursor: pointer;

          &:hover {
            color: $main-hover;
          }
        }
      }

      .prev, .next {
        padding: 0 calc(5 * #{$base-size});
        border: none;
        background: transparent;
        cursor: pointer;

        &.disabled {
          color: $black-lighter;
          cursor: default;
        }
      }

      .prev {
        float: left;
      }

      .next {
        float: right;
      }
    }

    .picker-items {
      overflow: hidden;

      .row-item {
        line-height: calc(#{$picker-item-line-height} * #{$base-size});
        overflow: hidden;

        &.h {
          border-bottom: 1px solid lighten($border, 15%);

          .item {
            font-size: calc(12 * #{$base-size});
            color: $black-light !important;
          }
        }

        &.line {
          display: block;
          float: left;

          .item {
            width: 100%;
            display: block;
          }
        }

        .item {
          display: inline-block;
          line-height: inherit;
          padding: 0 calc(8 * #{$base-size});
          text-align: center;
          cursor: pointer;

          &.date {
            width: calc(100% / 7);
          }

          &.month, &.year {
            width: calc(100% / 3);
          }

          &:hover {
            color: $main-hover;
          }

          &.not-in-month, &.disabled {
            color: $black-lighter !important;

            &:before {
              content: none !important;
            }
          }

          &.disabled {
            cursor: no-drop !important;
          }

          &.selected {
            position: relative;
            color: #fff;

            &:before {
              content: '';
              position: absolute;
              left: 50%;
              top: 50%;
              z-index: -1;
              width: calc(#{$picker-item-selected-before-width} * #{$base-size});
              height: calc(#{$picker-item-selected-before-height} * #{$base-size});
              margin: calc(-#{$picker-item-selected-before-height} / 2 * #{$base-size}) 0 0 calc(-#{$picker-item-selected-before-width} / 2 * #{$base-size});
              border-radius: calc(3 * #{$base-size});
              background: $main;
            }
          }
        }
      }
    }
  }
}
