.certificate-fast {
  @include flex-column(center, center);
  margin: .2rem 0;

  .tip {
    width: 2rem;
    margin: .1rem 0 !important;
    text-align: center;
  }

  .img {
    width: 2rem;
  }

  .back {
    width: 2rem;
    height: .4rem;
    margin: .2rem 0 .3rem;
  }
}
