@import '../../common/Mixins';

@include sign(password-reset);

.password-reset {

  .icon-right.left {
    cursor: pointer;
    padding: .1rem;
    margin: 0 0 0 -.1rem;

    &:before {
      display: inline-block;
      transform: rotate(180deg);
    }

    &:hover {
      background: rgba($main-color, .1);
    }
  }
}
