.set-fund-password {
  @import "../../common/special/bind";
  @import "../../common/special/user-center";
  .form-wrap {
    @include flex('start');
    background: $background-c1;
    .form-tip {
      height: 3.7rem;
      color: $color-colours-1;
    }
  }
}
