.form {
  padding: .3rem;
  background: $background-c1;
  .box-title {
    margin-bottom: 0.4rem;
    padding-bottom: 0.21rem;
    border-bottom: 1px solid #F0F0F5;
    font-size: 0.18rem;
  }
}

.submit {
  //margin-left: 1rem;
  width: 3.2rem;
  height: .4rem;
  //background: $font-blue-c1;
}
