.sipc-content {
  @extend .content;
  position: static;
  padding: .2rem 0;

  @import "./Tab";

  .page-head {
    position: static;
    margin: 0 0 .2rem;
    border: none !important;
    text-align: left !important;
  }

  .tab-wrap, .tab-head {
    padding: 0 .05rem;
  }

  .content-wrap-1 {
    min-height: calc(100vh - #{$header-height} - #{$footer-height} - .8rem - .7rem);
    margin-bottom: .2rem;
    border: 1px solid $border;
  }

  .table-base-wrap {
    padding: 0 .25rem .25rem;

    .th {
      color: $font-light;
    }
  }

  .my-input {
    width: 4.2rem;
    margin: .2rem auto;

    .btn {
      color: $blue !important;
    }
  }

  .submit {
    width: 3.2rem;
    height: .4rem;
    margin: 0 0 .4rem calc((100% - 4.2rem) / 2 + 1rem);
  }
}

.article-content {
  flex: 1;
  position: static;
  margin-top: .2rem !important;
  margin-bottom: .2rem !important;
  padding: .25rem .4rem .6rem !important;
  line-height: .24rem !important;
  color: $font;
  border: 1px solid $border;

  h1, .h1 {
    @extend .content-5;
    color: $font-darker;
    margin: 0 0 .25rem;
    font-weight: bold;
    text-align: center !important;

    .iconfont {
      padding: .05rem;
      cursor: pointer;
    }
  }

  .subhead {
    display: block;
    margin: 0 0 .25rem;
    color: $font-light !important;
    text-align: center !important;
    border: none;
  }

  & > div, & > .p, & > .p,
  & .txt-content > div, & .txt-content > .p, & .txt-content > .p {
    margin: 0 0 .1rem;
  }
}

.article-wrap {

  .content {

    &:before {
      background: transparent;
    }

    .wrap {

      .article-content {
        border: none;
        padding: 0 !important;

        h1, .h1 {
          margin: 0 0 .2rem;
          text-align: left !important;
        }

        .subhead {
          text-align: left !important;
        }
      }
    }
  }
}
