/* Base */
$black-darker: #222;
$black-dark: #333;
$black: #666;
$black-light: #999;
$black-lighter: #ccc;

$white: rgba(255, 255, 255, .9);
$white-light: rgba(255, 255, 255, .7);
$white-lighter: rgba(255, 255, 255, .5);
$white-lightest: rgba(255, 255, 255, .3);

$red: #FA4A61;

$blue: #008add;
$blue-light: #53b6d2;
$blue-lighter: #7292a1;

$green: #03ecc1;

$indigo: #33fffb;

$yellow: #ffac00;

/* custom */
$main-color: #ffae00;
$main-color-darker: #ff6701;
$disabled: #ddd;

$font-darker: #222;
$font-dark: #333;
$font: #666;
$font-light: #999;
$font-light-1: #aaa;

$border: rgba(139, 137, 200, .2);
$border-input: #E5E6F1;
$border-hover: rgba(139, 137, 200, .4);

$background: #fff;
$background-1: #fff;
$background-2: #fbfbff;
$background-2-1: #fbfbff;
$background-3: #f7f7fb;
$background-4: #cccce0;

$option-font: inherit;
$option-selected-bg: $main-color-darker;
$option-selected-font: #fff;
$options-bg: #fff;
$input-bg: #ecf1fb;

$option-hover-bg: rgba($main-color-darker, .5);
$input-bg-disabled: $input-bg;
$kline-btn-font: $white;
$kline-btn-font-hover: $yellow;
$kline-btn-bg-hover: rgba(255, 172, 0, .1);

$sign-in-bg: $background;

$rank-head-icon: #6a65df;

$footer-font: $white-light;
$footer-bg: #262a42;

$kline-bg: #fff;

$exchange-tr-hover: #F2F3F8;
$exchange-table-bg: #fff;


$exchange-font-1:#667680;
$exchange-font-2:#CFDDE6;

$exchange-table-color:#B8CDD9;
