.user-center {
  $margin-1: .03rem;

  @include flex(space-between, stretch);
  background: $background-4;
  padding: $margin-1 0 0;

  $aside-width: 2.2rem;

  .aside {
    @include flex(flex-end, flex-start);
    min-width: calc((#{$body-min-width} - #{$user-center-content-width}) / 2 + #{$aside-width});
    width: calc((100vw - #{$user-center-content-width}) / 2 + #{$aside-width});
    margin: 0 $margin-1 0 0;
    background: $background-2-1;

    .nav {
      width: $aside-width;
      height: 100%;
      border-left: 1px solid $border;

      .a {
        @include flex(center);
        position: relative;
        color: $font !important;
        line-height: .6rem;
        border-bottom: 1px solid $border;
        white-space: nowrap;

        &.active {
          color: $main-color !important;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: -1px;
            width: .04rem;
            background: $main-color;
          }

          .iconfont {
            color: $main-color;
          }
        }

        .nav-wrap {
          @include flex();
        }

        .iconfont {
          margin: 0 .1rem 0 0;
          @extend .title;
        }
      }
    }
  }

  .user-content-wrap {
    @include flex(flex-start, flex-start);
    flex: 1;
    background: $background-2-1;

    .user-content {
      position: relative;
      width: calc(#{$user-center-content-width} - #{$aside-width} - #{$margin-1});
      height: 100%;
      padding: .1rem .4rem;
      border-right: 1px solid $border;
      background: $background-2-1;
    }
  }
}
