$border-footer: #253d41;

.client-footer {
  position: relative;
  z-index: 0;
  min-height: $footer-height;
  animation: fade-in 1s cubic-bezier(1, 0, 1, 0.5);

  &:before {
    background: $footer-bg;
  }

  * {
    color: $footer-font;
  }

  h2 {
    @extend .content-5;
    color: $white;
  }

  .columns {
    @include flex(center, flex-start);
    padding: .4rem 0 0;
  }

  .section {
    @include flex-column();
    //flex: 1;
    width: calc((100% - 2rem) / 3);

    &.last {
      flex: none;
      width: 2rem;
    }

    h2 {
      margin: 0 0 .2rem;
    }

    .items {

      .link {
        display: block;
        line-height: .28rem;
      }

      .item {
        display: block;
        line-height: .28rem;
      }

      .icon {
        display: inline-block;
        padding: 0 0 0 .3rem;
        margin: 0 0 .2rem;
        vertical-align: center;

        &:hover {
          position: relative;

          .qrcode {
            display: block;
          }
        }

        &:nth-of-type(3n+1) {
          padding: 0;
        }

        .icon-img {
          font-size: .36rem;
          width: .36rem;
        }

        .qrcode {
          display: none;
          position: absolute;
          z-index: 2;
          left: 50%;
          top: 100%;
          width: 1rem;
          padding: .08rem;
          margin: .1rem 0 0 -.5rem;
          border-radius: .04rem;
          background: #fff;

          &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            margin: -.05rem 0 0 -.05rem;
            border-left: .05rem solid transparent;
            border-right: .05rem solid transparent;
            border-bottom: .05rem solid #fff;
          }

          img {
            display: block;
            width: 100%;
          }
        }
      }

      .other-link {
        padding: 0 .2rem;
        text-decoration: underline;
      }
    }
  }

  .friendly-links {
    flex-direction: row;
    width: 100% !important;
    padding: .2rem 0 .3rem;
    margin: .2rem 0 0;
    border-top: 1px solid $border;

    h2 {
      margin: 0;
      padding: 0 .4rem 0 0;
      line-height: .28rem;
      font-size: .14rem;
      color: $white-light;
    }

    .items {
      @include flex();
      flex: 1;
      flex-wrap: wrap;
    }

    .link {

      .separate {
        padding: 0 .15rem;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
