.home {

  @import 'components/client/Banner-zg';
  @import 'components/client/Tab-zg';

  margin: -$header-height 0 0;
  background: $background-2;

  $gradient-home: linear-gradient(to right, $main-color-darker, $main-color);
  /*$gradient-home-1: linear-gradient(to bottom right, $main-color, $main-color-darker 50%);*/
  $gradient-home-1: -webkit-gradient(linear, left top, right bottom, from($main-color),
    color-stop(50%, $main-color-darker));
  $gradient-home-bg: linear-gradient(to bottom right, $background, $background-2);
  $gradient-home-bg-hover: linear-gradient(to bottom right, $background, $background-1);

  @media screen and (max-width: 1560px) {
    .content {
      width: 90%;
      margin-left: calc((1560px * .1) / 2) !important;

      &:before {
        width: 1560px !important;
        margin-left: calc(-1560px / 2) !important;
      }
    }
  }

  @media screen and (orientation: portrait) {
    .content {
      width: 95%;
      margin-left: calc((100vw * .05) / 2) !important;

      &:before {
        width: 100vw !important;
        margin-left: calc(-100vw / 2) !important;
      }
    }
  }

  .banner-wrap {
    height: 7rem !important;
  }

  .market {
    padding: (.2rem + $margin) 0 0;
    margin: -2rem auto 0;

    &:before {
      background: linear-gradient(rgba($background-2, 0), $background-1 1.2rem, $background-2 3.2rem);
    }

    .prices {
      table {
        color: $font;
        background: $background-2;
        border: none;

        thead tr, tbody tr:nth-child(even) {
          background: $background-1;
        }
      }
    }

    .main-prices {
      @include flex(space-between);
      margin: .2rem 0;

      .main-price {
        flex: 1;
        height: 1.4rem;
        margin: 0 .3rem 0 0;
        padding: .2rem;
        background: $main-price-bg;
        box-shadow: 0 0 0 #000;
        transition: all .3s;

        &:hover {
          box-shadow: 0 .02rem .2rem rgba(#000, .5);
        }

        &:last-child {
          margin: 0;
        }

        h2 {
          @include flex(space-between);
        }

        .price {
          display: block;
          padding: .2rem 0;
          @extend .title-1;
          text-align: center;
          color: $white;
        }
      }
    }
  }

  .join {
    padding: 1rem 0 0;

    h2 {
      padding: 0 0 .3rem;
      @extend .title-1;
      color: $font-darker;
      font-size: .46rem;
      text-align: center;
    }

    p {
      padding: 0 1.4rem;
      text-align: center;
      @extend .title;
      color: $font-dark;
      line-height: .5rem;
    }

    img {
      display: block;
      position: relative;
      width: 11.86rem;
      max-width: 80%;
      margin: .4rem auto 0;
      z-index: -1;
    }
  }

  .features {
    padding: 1.5rem 0 0;

    &:before {
      background: $background-2;
    }

    h2 {
      margin: 0 0 .2rem;
      font-size: .36rem;
      color: $font-darker;
      text-align: center;
    }

    p {
      line-height: .3rem;
      @extend .head;
      color: $font-dark;
      text-align: center;
    }

    .items {
      @include flex(space-between, stretch);
      width: 100%;
      margin: .6rem 0 0;

      .item {
        @include flex-column(center, center);
        position: relative;
        width: calc((100% - .2rem * 3) / 4);
        margin: 0 .4rem 0 0;
        padding: calc(.612 * ((100% - .2rem * 3) / 4)) .4rem .4rem;
        border-radius: .05rem;
        background: $gradient-home-bg;
        box-shadow: 0 .05rem .45rem rgba(#000, .2);
        cursor: pointer;
        overflow: hidden;

        &:last-child {
          margin: 0;
        }

        &:hover {
          background: $gradient-home-bg-hover;

          &:after {
            opacity: 1;
          }

          img {
            opacity: 1;
          }

          h3 {
            color: $font-darker;
            transform: translateY(-.2rem);
          }

          p {
            color: $font-dark;
          }
        }

        &:after {
          content: '';
          position: absolute;
          left: 40%;
          right: 40%;
          bottom: calc(.4rem + .28rem * 3 + .2rem);
          border-top: 1px solid $main-color;
          opacity: 0;
        }

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 1.2rem;
          margin: -1.6rem 0 0 -.6rem;
        }

        h3 {
          position: relative;
          width: 100%;
          @extend .content-5;
          color: $font-dark;
          text-align: center;
        }

        p {
          position: relative;
          width: 100%;
          height: calc(.28rem * 3);
          max-width: 100%;
          margin: .2rem 0 0;
          line-height: .28rem;
          @extend .content-2;
          text-align: center;
          color: $font-light;
        }
      }
    }
  }

  .apps {
    @include flex-column(center, flex-start);
    position: relative;
    height: 7.7rem;
    padding: 1.5rem 0 1.5rem 40%;

    img {
      position: absolute;
      left: 50%;
      top: 0;
      z-index: -1;
      width: 19.2rem;
      margin: 0 0 0 -9.6rem;
    }

    h2 {
      padding: 0 0 .3rem;
      @extend .title-1;
      font-size: .46rem;
      color: $font-darker;
    }

    p {
      line-height: .4rem;
      @extend .content-5;
      color: $font-dark;
    }

    .btns {
      @include flex(flex-start, center, wrap);
      margin: .8rem 0 0;

      .btn {
        @include flex(center);
        position: relative;
        width: 2.5rem;
        height: .8rem;
        margin: 0 .2rem .2rem 0;
        border: 2px solid $border;
        border-radius: .06rem;
        background: transparent;
        vertical-align: text-top;
        opacity: 1;
        overflow: hidden;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: -1;
          background: $gradient-home;
          transition: .6s ease;
          opacity: 0;
        }

        .iconfont {
          padding: 0 .1rem 0 0;
          font-size: .3rem;
          color: inherit;
        }

        &:hover {
          border-color: transparent;
          color: $font-darker;

          &:after {
            opacity: 1;
          }
        }
      }
    }
  }

  .news {
    margin-top: .4rem;
    padding: .6rem 0 2rem;

    &:after, .after {
      content: '';
      position: absolute;
      z-index: -1;
      top: calc(.6rem + .5rem + .6rem + .7rem);
      left: 50%;
      width: 100vw;
      border-bottom: 2px dotted rgba($main-color, .5);
      margin: 0 0 0 -50vw;
    }

    .after {
      width: 50vw;
      height: 2px;
      border: none;
      background: $gradient-home;
    }

    h2 {
      height: .5rem;
      color: $font-darker;
      font-size: .32rem;
      text-align: center;

      .type {
        display: inline-block;
        margin: 0 0 0 .2rem;
        cursor: pointer;

        &:hover {
          color: rgba($main-color, .7);
        }

        &.active {
          color: $main-color;
        }
      }
    }

    .news-wrap-content {
      position: relative;
      width: 100%;
      margin: .6rem 0 0;
      overflow: hidden;

      .arrows {
        @include flex(center);
        margin: .5rem 0 0;
      }

      .iconfont {
        @include flex(center);
        width: .4rem;
        height: .4rem;
        border-radius: .2rem;
        border: 1px solid $font;
        font-size: .2rem;
        cursor: pointer;
        transform: rotate(180deg);
        opacity: .6;

        &:hover {
          color: $main-color;
          opacity: 1;
        }

        &.left {
          margin: 0 .4rem 0 0;
          transform: rotate(0deg);
        }
      }

      .news-wrap {
        position: relative;
        top: 0;
        left: 0;
        width: 1000rem;
        overflow: hidden;

        .news-item {
          float: left;
          padding: 0 .45rem;
          margin: 0 .2rem 0 0;
          cursor: pointer;
          opacity: 1;

          &:hover, &.now, &.before {

            time {
              display: block;
              color: $font-darker;

              &:before {
                background: $main-color;
              }

              &:after {
                opacity: 1;
              }
            }
          }

          &:hover, &.now {

            .c {
              background: #4d4d4d;

              &:before, img {
                opacity: 1;
              }

              h3 {
                padding-top: .3rem;
                padding-bottom: .2rem;
                color: $font-darker;
              }

              p {
                color: $font-dark;
              }
            }
          }

          time {
            display: block;
            position: relative;
            line-height: .4rem;
            padding: 0 0 .3rem;
            font-size: .26rem;
            color: $font-dark;
            text-align: center;

            &:before, &:after {
              content: '';
              position: absolute;
              left: 50%;
              bottom: -.05rem;
              width: calc(.1rem - 4px);
              height: calc(.1rem - 4px);
              margin: 0 0 0 -.05rem;
              border: 2px solid $main-color;
              border-radius: .5rem;
              background: $background-2;
              transition: .5s cubic-bezier(.4, 0, .2, 1);
            }

            &:after {
              bottom: -.10rem;
              width: .2rem;
              height: .2rem;
              margin: 0 0 0 -.1rem;
              border: none;
              border-radius: .1rem;
              background: rgba($main-color, .2);
              opacity: 0;
              transition: .5s cubic-bezier(.4, 0, .2, 1);
            }
          }

          .c {
            position: relative;
            height: 1.5rem;
            margin: .36rem -.45rem 0;
            border-radius: .05rem;
            background: $background-1;

            &:before {
              content: '';
              position: absolute;
              left: 50%;
              top: -.1rem;
              width: 0;
              border-right: .1rem solid transparent;
              border-left: .1rem solid transparent;
              border-bottom: .1rem solid $background-1;
              margin: 0 0 0 -.1rem;
              opacity: 0;
              transition: .5s cubic-bezier(.4, 0, .2, 1);
            }

            img {
              position: absolute;
              left: 0;
              top: 0;
              z-index: -1;
              width: 100%;
              height: 2.1rem;
              border-radius: .08rem;
              opacity: 0;
              transition: .5s cubic-bezier(.4, 0, .2, 1);
            }

            h3, p {
              padding: 0 .45rem;
              text-align: center;
            }

            h3 {
              padding-top: .2rem;
              padding-bottom: .1rem;
              @extend .content-4;
              color: $font-dark;
            }

            p {
              line-height: .26rem;
              @extend .content-2;
            }
          }
        }
      }
    }
  }

}
