/* Base */
$black-darker: #222;
$black-dark: #333;
$black: #666;
$black-light: #999;
$black-lighter: #ccc;

$white: rgba(255, 255, 255, .9);
$white-light: rgba(255, 255, 255, .7);
$white-lighter: rgba(255, 255, 255, .5);
$white-lightest: rgba(255, 255, 255, .3);

$red: #FA4A61;

$blue: #008add;
$blue-light: #53b6d2;
$blue-lighter: #7292a1;

$green: #0db27c;

$yellow: #ffac00;

/* custom */
$main-color: $green;
$main-color-darker: #0D8E5E;
$disabled: #ddd;

$font-darker: $white;
$font-dark: $white-light;
$font: #7291a1;
$font-light: rgba(114, 145, 161, .5);
$font-light-1: rgba(114, 145, 161, .7);

$border: rgba(114, 145, 161, .2);
$border-input: #E5E6F1;
$border-hover: rgba(114, 145, 161, .4);

$background: #2f3d45;
$background-1: #25353c;
$background-2: #1f2b34;
$background-2-1: #1e2b34;
$background-3: #18252f;
$background-4: #101c24;

$option-font: inherit;
$option-selected-bg: $main-color-darker;
$option-selected-font: #fff;
$options-bg: $background;
$input-bg: #0f151a;
$option-hover-bg: rgba($main-color-darker, .5);
$input-bg-disabled: $input-bg;

$kline-btn-font: $white;
$kline-btn-font-hover: $yellow;
$kline-btn-bg-hover: rgba(255, 172, 0, .1);

$sign-in-bg: #fff;

$rank-head-icon: #6a65df;

$footer-font: #7291A1;
$footer-bg: $background-4;

$kline-bg: $background-2-1;

$exchange-tr-hover: #F2F3F8;
$exchange-table-bg: $background-2-1;


$exchange-font-1:#667680;
$exchange-font-2:#CFDDE6;


$exchange-table-color:#B8CDD9;
