@import '../../common/Mixins';

@include sign(sign-up)

.sign-up {

  .user-agreement {
    @include flex();
    width: 4.6rem;
    margin: .1rem auto 0;
    padding: 0 0 0 1rem;

    .font-green {
      margin: 0 0 0 .1rem;
    }
  }

  .window {
    width: 8rem;
    height: 60vh;
    background: $background;
    box-shadow: 0 .1rem .2rem rgba(#000, .3);

    .agreement {
      width: 100%;
      height: 100%;
      padding: .2rem !important;
      margin: 0 !important;
      overflow: hidden;
      border: none;

      .float-header {
        @include flex(space-between);
        padding: 0 0 .1rem 0;
        margin: 0;
      }

      .txt-content {
        width: calc(100% + .4rem);
        padding: 0 .2rem 0 0;
        height: calc(100% - .4rem);
        overflow-y: auto;
      }
    }
  }

  .options {
    box-shadow: 0 0 size(3) rgba(#000, .2);
  }

  .bottom {
    margin-bottom: .3rem;
  }
}
