.tab-head {
  @include flex();
  position: relative;
  border-bottom: 1px solid rgba($font, .3);

  .tab {
    @include flex(center);
    position: relative;
    height: .5rem;
    margin: 0 .4rem 0 0;
    @extend .content-3;
    color: $font;
    cursor: pointer;

    &.selected {
      color: $font-darker;
      background: transparent;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 3px;
        background: $main-color;
      }
    }
  }
}
