'use strict'
module.exports = {
  localhost: 'http://localhost:8883/api/v1', // 服务器运行 server-index.js 时使用
  backendUrl: 'http://47.111.138.2:8883/api/v1',
  backendOTCUrl: 'http://47.111.138.2:8887/api/v1',
  socketUrl: 'ws://47.111.138.2:8090/',                             // 服务端 websocket 的 url
  klineSocketUrl: 'ws://47.111.138.2:8090/',                             // 服务端 k线的websocket 的 url
  ossUrl: 'http://47.111.138.2:8886/',
  assetsSubDirectory: 'static',
  anchorCoin: 'CNT',
};
