$margin: .3rem;
$padding: .2rem;
$status-bar-height: .44rem;
$bottom-bar-height: .49rem;
$tabs-height: .35rem;
$filter-height: .4rem;

$header-height: .6rem;
$footer-height: 3rem;
$copyright-height: .6rem;

$announce-height: .5rem;

$body-min-width: 1280px;

$content-width: 80%;

$user-center-content-width: 12rem;

$base-size: .1rem;

@function size($val) {
  @return $val * $base-size;
}
