.query {
  position: relative;
  min-height: .5rem;

  .loading {
    position: absolute !important;
    left: 50%;
    top: .2rem;
    margin: 0 0 0 -.15rem;
  }

  .no-result {
    position: absolute !important;
    left: 0;
    top: .2rem;
  }
}
