.user-invite {
  @import '../../../special/user-center';

  .super-broker {
    margin: .2rem 0 .8rem 0;
    .name {
      //color: $white-lighter;
      .value {
        color: $font-darker;
      }
    }
    .broker-data {
      @include flex(space-between, nowrap);
      margin: 0.66rem 0;
      .value {
        margin-left: .1rem;
        vertical-align: middle;
        font-size: .4rem;
        color: $font-darker;
      }
    }
    .tip {
      //color: $white-lighter;
    }
  }

  .invite-code {
    @include flex();
    margin: .4rem 0;

    .label {
      display: inline-block;
      width: 1rem;
    }

    .value {
      display: inline-block;
      @include lineHeight(.5rem);
      padding: 0 .1rem;
      border: 1px solid $border;
    }

    button {
      @include lineHeight(.5rem);
      padding: 0 .1rem;
      border: none;
      background: $border;
      opacity: 1;

      &:hover {
        color: $font-darker;
      }
    }
  }

  .link {
    @include flex(flex-start, flex-start);

    &:first-of-type {
      margin: 0 0 .6rem;
    }

    .qrcode {
      position: relative;
      z-index: 2;
      margin: 0 0 0 .1rem;

      &:hover {
        .wrap {
          left: calc(100% + .1rem);
          opacity: 1;
        }
      }

      .mini {
        width: .4rem;
        cursor: pointer;
      }

      .wrap {
        @include flex-column(center, center);
        position: absolute;
        top: 0;
        opacity: 0;
        left: 100%;
        background: #fff;

        &.has-bg {
          top: -2rem;

          .bigger {
            width: 3rem;
          }
        }

        .bigger {
          max-width: none !important;
          max-height: none !important;
          width: 1.2rem;
          height: auto;
        }

        .tip {
          padding: 0 0 .05rem;
          @extend .content-2;
          color: #999;
        }
      }
    }
  }

  .my-input {
    width: 6rem !important;
  }

  .tab-head-1 {
    margin: .4rem 0 .2rem;
  }

  .fixed-height {
    margin: 0 0 .6rem;
  }

  .ranking-tip {
    color: $font;
  }
}
