.warning {
  width: 100%;
  line-height: .24rem;
  padding: .07rem .4rem;
  border: 1px solid $yellow;
  background: rgba($yellow, .3) url('../assets/icon-warning.png') no-repeat left .15rem top .1rem;
  background-size: .17rem;
}
