.help-aside {
  @include flex(flex-start, center, wrap);
  //border-right: 1px solid $border;
  width: 12.36rem;
  //margin: 0 .3rem 0 0;
  padding: .1rem 0;

  .a {
    display: block;
    position: relative;
    margin: 0 0.32rem 0.32rem 0;
    text-align: center;
    width: 3.77rem;
    line-height: .5rem;
    border:1px solid $background-c2;
    border-radius:4px;
    font-size: 0.16rem;
    color: $background-c2;
    opacity: 1;

    &:hover {
      color: $font-white-c1;
      background: $background-c2;
    }

    &.active {
      color: $font-white-c1;
      background: $background-c2;

      //&:before {
      //  content: '';
      //  position: absolute;
      //  right: 0;
      //  top: 0;
      //  bottom: 0;
      //  width: .03rem;
      //  background: $main-color;
      //}
    }
  }

  .loading {
    margin: .1rem 0 0;
  }
}
